In [27]:
install.packages("nycflights13")

Warning message:
"package 'nycflights13' is in use and will not be installed"

In [28]:
library("nycflights13")
library(tidyverse)

In [3]:
summary(nycflights13::flights)

      year          month             day           dep_time    sched_dep_time
 Min.   :2013   Min.   : 1.000   Min.   : 1.00   Min.   :   1   Min.   : 106
 1st Qu.:2013   1st Qu.: 4.000   1st Qu.: 8.00   1st Qu.: 907   1st Qu.: 906
 Median :2013   Median : 7.000   Median :16.00   Median :1401   Median :1359
 Mean   :2013   Mean   : 6.549   Mean   :15.71   Mean   :1349   Mean   :1344
 3rd Qu.:2013   3rd Qu.:10.000   3rd Qu.:23.00   3rd Qu.:1744   3rd Qu.:1729
 Max.   :2013   Max.   :12.000   Max.   :31.00   Max.   :2400   Max.   :2359
                                                 NA's   :8255
   dep_delay          arr_time    sched_arr_time   arr_delay
 Min.   : -43.00   Min.   :   1   Min.   :   1   Min.   : -86.000
 1st Qu.:  -5.00   1st Qu.:1104   1st Qu.:1124   1st Qu.: -17.000
 Median :  -2.00   Median :1535   Median :1556   Median :  -5.000
 Mean   :  12.64   Mean   :1502   Mean   :1536   Mean   :   6.895
 3rd Qu.:  11.00   3rd Qu.:1940   3rd Qu.:1945   3rd Qu.:  14.000
 Max.   :1301.00   Max.   :2400   Max.   :2359   Max.   :1272.000
 NA's   :8255      NA's   :8713                  NA's   :9430
   carrier              flight       tailnum             origin
 Length:336776      Min.   :   1   Length:336776      Length:336776
 Class :character   1st Qu.: 553   Class :character   Class :character
 Mode  :character   Median :1496   Mode  :character   Mode  :character
                    Mean   :1972
                    3rd Qu.:3465
                    Max.   :8500

     dest              air_time        distance         hour
 Length:336776      Min.   : 20.0   Min.   :  17   Min.   : 1.00
 Class :character   1st Qu.: 82.0   1st Qu.: 502   1st Qu.: 9.00
 Mode  :character   Median :129.0   Median : 872   Median :13.00
                    Mean   :150.7   Mean   :1040   Mean   :13.18
                    3rd Qu.:192.0   3rd Qu.:1389   3rd Qu.:17.00
                    Max.   :695.0   Max.   :4983   Max.   :23.00
                    NA's   :9430
     minute        time_hour
 Min.   : 0.00   Min.   :2013-01-01 05:00:00
 1st Qu.: 8.00   1st Qu.:2013-04-04 13:00:00
 Median :29.00   Median :2013-07-03 10:00:00
 Mean   :26.23   Mean   :2013-07-03 05:02:36
 3rd Qu.:44.00   3rd Qu.:2013-10-01 07:00:00
 Max.   :59.00   Max.   :2013-12-31 23:00:00

In [16]:
str(flights)

Classes 'tbl_df', 'tbl' and 'data.frame':	336776 obs. of  19 variables:
 $ year          : int  2013 2013 2013 2013 2013 2013 2013 2013 2013 2013 ...
 $ month         : int  1 1 1 1 1 1 1 1 1 1 ...
 $ day           : int  1 1 1 1 1 1 1 1 1 1 ...
 $ dep_time      : int  517 533 542 544 554 554 555 557 557 558 ...
 $ sched_dep_time: int  515 529 540 545 600 558 600 600 600 600 ...
 $ dep_delay     : num  2 4 2 -1 -6 -4 -5 -3 -3 -2 ...
 $ arr_time      : int  830 850 923 1004 812 740 913 709 838 753 ...
 $ sched_arr_time: int  819 830 850 1022 837 728 854 723 846 745 ...
 $ arr_delay     : num  11 20 33 -18 -25 12 19 -14 -8 8 ...
 $ carrier       : chr  "UA" "UA" "AA" "B6" ...
 $ flight        : int  1545 1714 1141 725 461 1696 507 5708 79 301 ...
 $ tailnum       : chr  "N14228" "N24211" "N619AA" "N804JB" ...
 $ origin        : chr  "EWR" "LGA" "JFK" "JFK" ...
 $ dest          : chr  "IAH" "IAH" "MIA" "BQN" ...
 $ air_time      : num  227 227 160 183 116 150 158 53 140 138 ...
 $ distance      : num  1400 1416 1089 1576 762 ...
 $ hour          : num  5 5 5 5 6 5 6 6 6 6 ...
 $ minute        : num  15 29 40 45 0 58 0 0 0 0 ...
 $ time_hour     : POSIXct, format: "2013-01-01 05:00:00" "2013-01-01 05:00:00" ...

In [17]:
summarize(flights)

# FILTER()

### Pick observations by their values (filter()).

In [38]:
head(dplyr::filter(flights, year == 2013, air_time == 158))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   555      600            -5         913      854
2 2013 1     1   558      600            -2         853      856
3 2013 1     1   741      745            -4        1038     1036
4 2013 1     1   759      800            -1        1057     1127
5 2013 1     1   856      900            -4        1222     1232
6 2013 1     1   904      906            -2        1207     1226
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  19       B6       507   N516JB  EWR    FLL  158      1065     6     0
2  -3       B6        71   N657JB  JFK    TPA  158      1005     6     0
3   2       B6       983   N633JB  LGA    TPA  158      1010     7    45
4 -30       DL      1843   N955DL  JFK    MIA  158      1089     8     0
5 -10       DL      2143   N970DL  LGA    MIA  158      1096     9     0
6 -19       UA      1401   N77525  EWR    MIA  158      1085     9     6
  time_hour
1 2013-01-01 06:00:00
2 2013-01-01 06:00:00
3 2013-01-01 07:00:00
4 2013-01-01 08:00:00
5 2013-01-01 09:00:00
6 2013-01-01 09:00:00

### dplyr functions are NOT modifiers

In [29]:
Filtered_data <- dplyr::filter(flights, year == 2013, air_time == 158)

In [39]:
#To print and save data
head((Filtered_data <-dplyr::filter(flights, year == 2013, air_time == 158)))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   555      600            -5         913      854
2 2013 1     1   558      600            -2         853      856
3 2013 1     1   741      745            -4        1038     1036
4 2013 1     1   759      800            -1        1057     1127
5 2013 1     1   856      900            -4        1222     1232
6 2013 1     1   904      906            -2        1207     1226
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  19       B6       507   N516JB  EWR    FLL  158      1065     6     0
2  -3       B6        71   N657JB  JFK    TPA  158      1005     6     0
3   2       B6       983   N633JB  LGA    TPA  158      1010     7    45
4 -30       DL      1843   N955DL  JFK    MIA  158      1089     8     0
5 -10       DL      2143   N970DL  LGA    MIA  158      1096     9     0
6 -19       UA      1401   N77525  EWR    MIA  158      1085     9     6
  time_hour
1 2013-01-01 06:00:00
2 2013-01-01 06:00:00
3 2013-01-01 07:00:00
4 2013-01-01 08:00:00
5 2013-01-01 09:00:00
6 2013-01-01 09:00:00

# Comparing numbers

```

& - XY
| - X U Y
! - X^c
near(X,Y) - for comparing float
== - X==Y
xor - X U Y - XY 
%in% - x %in% (a,b,c,d)
!(X U Y) = !X!Y
```

In [35]:
c(2==2,sqrt(4)==2,sqrt(4.1)==2, near(sqrt(4.1),2))

[1]  TRUE  TRUE FALSE FALSE

In [57]:
c(near(2.0000001,2),"VS",near(2.00000001,2))

[1] "FALSE" "VS"    "TRUE"

In [49]:
head(filter(flights,year==2013 & dep_time == 517))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013  1     1  517      515             2        830      819
2 2013 10    20  517      520            -3        754      803
3 2013 11     2  517      515             2        806      755
4 2013 11    10  517      515             2        749      806
5 2013 12     6  517      515             2        813      814
6 2013 12    11  517      515             2        825      814
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  -9       UA      1096   N78509  EWR    IAH  200      1400     5    20
3  11       UA       598   N536UA  EWR    IAH  201      1400     5    15
4 -17       UA       817   N487UA  EWR    IAH  196      1400     5    15
5  -1       UA      1012   N18220  EWR    IAH  209      1400     5    15
6  11       UA      1014   N77295  EWR    IAH  228      1400     5    15
  time_hour
1 2013-01-01 05:00:00
2 2013-10-20 05:00:00
3 2013-11-02 05:00:00
4 2013-11-10 05:00:00
5 2013-12-06 05:00:00
6 2013-12-11 05:00:00

In [61]:
NA >5

[1] NA

In [86]:
X<- NA; Y<- NA; X==Y;

[1] NA

In [64]:
is.na(X)

[1] TRUE

In [87]:
X<- tibble(x= c(X,Y,1,2,10,NA))

In [88]:
filter(X,is.na(x))

  x
1 NA
2 NA
3 NA

In [90]:
filter(X, is.na(x) | x==10)

  x
1 NA
2 NA
3 10
4 NA

### 5.2.4 Exercises


Find all flights that
* Had an arrival delay of two or more hours
* Flew to Houston (IAH or HOU)
* Departed in summer (July, August, and September)
* Arrived more than two hours late, but didnâ€™t leave late
* Were delayed by at least an hour, but made up over 30 minutes in flight
* Departed between midnight and 6am (inclusive)
* Another useful dplyr filtering helper is between(). What does it do? Can you use it to simplify the code needed to answer  the previous challenges?
* How many flights have a missing dep_time? What other variables are missing? What might these rows represent?
* Why is NA ^ 0 not missing? Why is NA | TRUE not missing? Why is FALSE & NA not missing? Can you figure out the general     rule? (NA * 0 is a tricky counterexample!)

In [47]:
head(filter(flights, arr_delay/60>2))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1    811      630           101       1047      830
2 2013 1     1    848     1835           853       1001     1950
3 2013 1     1    957      733           144       1056      853
4 2013 1     1   1114      900           134       1447     1222
5 2013 1     1   1505     1310           115       1638     1431
6 2013 1     1   1525     1340           105       1831     1626
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 137       MQ      4576   N531MQ  LGA    CLT  118       544      6   30
2 851       MQ      3944   N942MQ  JFK    BWI   41       184     18   35
3 123       UA       856   N534UA  EWR    BOS   37       200      7   33
4 145       UA      1086   N76502  LGA    IAH  248      1416      9    0
5 127       EV      4497   N17984  EWR    RIC   63       277     13   10
6 125       B6       525   N231JB  EWR    MCO  152       937     13   40
  time_hour
1 2013-01-01 06:00:00
2 2013-01-01 18:00:00
3 2013-01-01 07:00:00
4 2013-01-01 09:00:00
5 2013-01-01 13:00:00
6 2013-01-01 13:00:00

In [46]:
head(filter(flights, dest %in% c('IAH','HOU')))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   623      627            -4         933      932
4 2013 1     1   728      732            -4        1041     1038
5 2013 1     1   739      739             0        1104     1038
6 2013 1     1   908      908             0        1228     1219
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 11        UA      1545   N14228  EWR    IAH  227      1400     5    15
2 20        UA      1714   N24211  LGA    IAH  227      1416     5    29
3  1        UA       496   N459UA  LGA    IAH  229      1416     6    27
4  3        UA       473   N488UA  LGA    IAH  238      1416     7    32
5 26        UA      1479   N37408  EWR    IAH  249      1400     7    39
6  9        UA      1220   N12216  EWR    IAH  233      1400     9     8
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 06:00:00
4 2013-01-01 07:00:00
5 2013-01-01 07:00:00
6 2013-01-01 09:00:00

In [45]:
head(filter(flights, month %in% c(7,8,9)))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 7     1    1       2029           212       236      2359
2 2013 7     1    2       2359             3       344       344
3 2013 7     1   29       2245           104       151         1
4 2013 7     1   43       2130           193       322        14
5 2013 7     1   44       2150           174       300       100
6 2013 7     1   46       2051           235       304      2358
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 157       B6       915   N653JB  JFK    SFO  315      2586     20   29
2   0       B6      1503   N805JB  JFK    SJU  200      1598     23   59
3 110       B6       234   N348JB  JFK    BTV   66       266     22   45
4 188       B6      1371   N794JB  LGA    FLL  143      1076     21   30
5 120       AA       185   N324AA  JFK    LAX  297      2475     21   50
6 186       B6       165   N640JB  JFK    PDX  304      2454     20   51
  time_hour
1 2013-07-01 20:00:00
2 2013-07-01 23:00:00
3 2013-07-01 22:00:00
4 2013-07-01 21:00:00
5 2013-07-01 21:00:00
6 2013-07-01 20:00:00

In [44]:
head(filter(flights, (flights$arr_delay/60>2) & (flights$dep_delay<=0)))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013  1    27  1419     1420           -1        1754     1550
2 2013 10     7  1350     1350            0        1736     1526
3 2013 10     7  1357     1359           -2        1858     1654
4 2013 10    16   657      700           -3        1258     1056
5 2013 11     1   658      700           -2        1329     1015
6 2013  3    18  1844     1847           -3          39     2219
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 124       MQ      3728   N1EAMQ  EWR    ORD  135       719     14   20
2 130       EV      5181   N611QX  LGA    MSN  117       812     13   50
3 124       AA      1151   N3CMAA  LGA    DFW  192      1389     13   59
4 122       B6         3   N703JB  JFK    SJU  225      1598      7    0
5 194       VX       399   N629VA  JFK    LAX  336      2475      7    0
6 140       UA       389   N560UA  JFK    SFO  386      2586     18   47
  time_hour
1 2013-01-27 14:00:00
2 2013-10-07 13:00:00
3 2013-10-07 13:00:00
4 2013-10-16 07:00:00
5 2013-11-01 07:00:00
6 2013-03-18 18:00:00

In [43]:
head(filter(flights, (flights$dep_delay>=60)& (flights$arr_delay<=60)))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1    826      715           71        1136     1045
2 2013 1     1   1628     1524           64        1740     1641
3 2013 1     1   1846     1745           61        2147     2055
4 2013 1     1   2302     2200           62        2342     2253
5 2013 1     2   1125     1020           65        1309     1223
6 2013 1     2   1345     1240           65        1642     1555
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 51        AA       443   N3GVAA  JFK    MIA  160      1089      7   15
2 59        EV      4133   N14959  EWR    IAD   53       212     15   24
3 52        AA       785   N3ESAA  LGA    DFW  223      1389     17   45
4 49        EV      4276   N13903  EWR    BDL   24       116     22    0
5 46        EV      5026   N738EV  EWR    DTW   86       488     10   20
6 47        AA      2041   N5CYAA  JFK    MIA  159      1089     12   40
  time_hour
1 2013-01-01 07:00:00
2 2013-01-01 15:00:00
3 2013-01-01 17:00:00
4 2013-01-01 22:00:00
5 2013-01-02 10:00:00
6 2013-01-02 12:00:00

In [42]:
head(filter(flights, (flights$dep_time/100>=0)&(flights$dep_time/100<=6)))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [19]:
?dplyr::between()

In [41]:
head(filter(flights, between(flights$dep_time/100,0,6)))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [32]:
nrow(filter(flights, is.na(flights$dep_time)))

[1] 8255

In [33]:
summary(flights)

      year          month             day           dep_time    sched_dep_time
 Min.   :2013   Min.   : 1.000   Min.   : 1.00   Min.   :   1   Min.   : 106
 1st Qu.:2013   1st Qu.: 4.000   1st Qu.: 8.00   1st Qu.: 907   1st Qu.: 906
 Median :2013   Median : 7.000   Median :16.00   Median :1401   Median :1359
 Mean   :2013   Mean   : 6.549   Mean   :15.71   Mean   :1349   Mean   :1344
 3rd Qu.:2013   3rd Qu.:10.000   3rd Qu.:23.00   3rd Qu.:1744   3rd Qu.:1729
 Max.   :2013   Max.   :12.000   Max.   :31.00   Max.   :2400   Max.   :2359
                                                 NA's   :8255
   dep_delay          arr_time    sched_arr_time   arr_delay
 Min.   : -43.00   Min.   :   1   Min.   :   1   Min.   : -86.000
 1st Qu.:  -5.00   1st Qu.:1104   1st Qu.:1124   1st Qu.: -17.000
 Median :  -2.00   Median :1535   Median :1556   Median :  -5.000
 Mean   :  12.64   Mean   :1502   Mean   :1536   Mean   :   6.895
 3rd Qu.:  11.00   3rd Qu.:1940   3rd Qu.:1945   3rd Qu.:  14.000
 Max.   :1301.00   Max.   :2400   Max.   :2359   Max.   :1272.000
 NA's   :8255      NA's   :8713                  NA's   :9430
   carrier              flight       tailnum             origin
 Length:336776      Min.   :   1   Length:336776      Length:336776
 Class :character   1st Qu.: 553   Class :character   Class :character
 Mode  :character   Median :1496   Mode  :character   Mode  :character
                    Mean   :1972
                    3rd Qu.:3465
                    Max.   :8500

     dest              air_time        distance         hour
 Length:336776      Min.   : 20.0   Min.   :  17   Min.   : 1.00
 Class :character   1st Qu.: 82.0   1st Qu.: 502   1st Qu.: 9.00
 Mode  :character   Median :129.0   Median : 872   Median :13.00
                    Mean   :150.7   Mean   :1040   Mean   :13.18
                    3rd Qu.:192.0   3rd Qu.:1389   3rd Qu.:17.00
                    Max.   :695.0   Max.   :4983   Max.   :23.00
                    NA's   :9430
     minute        time_hour
 Min.   : 0.00   Min.   :2013-01-01 05:00:00
 1st Qu.: 8.00   1st Qu.:2013-04-04 13:00:00
 Median :29.00   Median :2013-07-03 10:00:00
 Mean   :26.23   Mean   :2013-07-03 05:02:36
 3rd Qu.:44.00   3rd Qu.:2013-10-01 07:00:00
 Max.   :59.00   Max.   :2013-12-31 23:00:00

In [40]:
head(filter(flights, is.na(flights$dep_time)))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   NA       1630           NA        NA       1815
2 2013 1     1   NA       1935           NA        NA       2240
3 2013 1     1   NA       1500           NA        NA       1825
4 2013 1     1   NA        600           NA        NA        901
5 2013 1     2   NA       1540           NA        NA       1747
6 2013 1     2   NA       1620           NA        NA       1746
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 NA        EV      4308   N18120  EWR    RDU  NA        416     16   30
2 NA        AA       791   N3EHAA  LGA    DFW  NA       1389     19   35
3 NA        AA      1925   N3EVAA  LGA    MIA  NA       1096     15    0
4 NA        B6       125   N618JB  JFK    FLL  NA       1069      6    0
5 NA        EV      4352   N10575  EWR    CVG  NA        569     15   40
6 NA        EV      4406   N13949  EWR    PIT  NA        319     16   20
  time_hour
1 2013-01-01 16:00:00
2 2013-01-01 19:00:00
3 2013-01-01 15:00:00
4 2013-01-01 06:00:00
5 2013-01-02 15:00:00
6 2013-01-02 16:00:00

In [37]:
c(NA^0,NA|TRUE,NA*0,NA|FALSE)

[1]  1  1 NA NA

## arrange()